body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #2a2e35, #12181b);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.logo:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
